In [1]:
import numpy as np
import pandas as pd

In [2]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

# PART A: Initial Data Exploration
Task 1: Load the dataset and display basic information about its structure.

In [3]:
df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Task 2: Show the first 15 and last 15 records.

In [4]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [5]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 3: Display a random sample of 20 transactions.

In [6]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
443689,574707,85114C,RED ENCHANTED FOREST PLACEMAT,5,11/6/2011 14:08,1.65,17107.0,United Kingdom
140537,548409,22492,MINI PAINT SET VINTAGE,144,3/31/2011 10:27,0.65,12731.0,France
368705,568991,21588,RETROSPOT GIANT TUBE MATCHES,12,9/29/2011 16:44,2.55,18204.0,United Kingdom
201443,554285,22089,PAPER BUNTING VINTAGE PAISLEY,1,5/23/2011 14:15,4.13,NaN,United Kingdom
328788,565806,22772,PINK DRAWER KNOB ACRYLIC EDWARDIAN,12,9/7/2011 10:51,1.25,15594.0,United Kingdom
114376,546008,85066,CREAM SWEETHEART MINI CHEST,2,3/8/2011 15:43,24.96,NaN,United Kingdom
171391,551414,84946,ANTIQUE SILVER T-LIGHT GLASS,12,4/28/2011 13:35,1.25,15622.0,United Kingdom
213152,555523,22492,MINI PAINT SET VINTAGE,36,6/5/2011 11:36,0.65,12468.0,Germany
368425,568952,23433,HANGING QUILTED PATCHWORK APPLES,12,9/29/2011 15:29,0.83,14305.0,United Kingdom
514180,579680,22533,check,60,11/30/2011 13:29,0.00,NaN,United Kingdom
306024,563731,21902,"KEY FOB , FRONT DOOR",5,8/18/2011 17:44,0.65,17576.0,United Kingdom
107625,545460,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,4,3/2/2011 17:33,1.95,13230.0,United Kingdom
156932,550183,22196,SMALL HEART MEASURING SPOONS,12,4/14/2011 17:58,0.85,14105.0,United Kingdom
365075,568693,22630,DOLLY GIRL LUNCH BOX,2,9/28/2011 14:54,1.95,NaN,United Kingdom
228324,556926,22128,PARTY CONES CANDY ASSORTED,6,6/15/2011 14:26,1.25,16324.0,United Kingdom
16842,537666,21262,WHITE GOOSE FEATHER CHRISTMAS TREE,1,12/7/2010 18:36,7.62,NaN,United Kingdom
479243,577150,22772,PINK DRAWER KNOB ACRYLIC EDWARDIAN,3,11/18/2011 9:48,3.29,NaN,United Kingdom
353162,C567767,22867,HAND WARMER BIRD DESIGN,-12,9/22/2011 10:58,2.10,17460.0,United Kingdom
182335,552539,22090,PAPER BUNTING RETROSPOT,6,5/10/2011 10:17,2.95,NaN,EIRE
70774,542102,22348,TEA BAG PLATE RED RETROSPOT,24,1/25/2011 13:26,0.85,12744.0,Singapore

Task 4: Find out how many rows and columns are in the dataset.

In [7]:
df.shape

(541909, 8)

Task 5: List all column names

In [8]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Task 6: Check the data type of each column.

In [9]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

Task 7: Get a statistical summary of all numerical columns.

In [10]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# PART B: Data Quality Assessment
Task 8: Identify which columns have missing values and how many.

In [11]:
m=df.columns[df.isnull().any()]
m

Index(['Description', 'CustomerID'], dtype='object')

In [12]:
df[m].isna().sum()

Description      1454
CustomerID     135080
dtype: int64

Task 9: Find out how many transactions have missing CustomerID.

In [13]:
df['CustomerID'].isna().sum()

np.int64(135080)

Task 10: Check if there are any duplicate rows in the dataset.

In [14]:
df.duplicated().sum()

np.int64(5268)

Task 11: Identify transactions where Quantity is less than or equal to zero

In [15]:
df[df['Quantity']>=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 12: Find transactions where UnitPrice is zero or negative.

In [16]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

Task 13: Identify how many invoice numbers start with the letter 'C'.

In [17]:
a=df[df['InvoiceNo']=='C']
a['InvoiceNo'].count()

np.int64(0)

Task 14: Check if the Description column has any leading or trailing spaces.

In [18]:
(df['Description'] != df['Description'].str.strip()).sum()

np.int64(114906)

#PART C: Data Cleaning
Task 15: Remove all rows where CustomerID is missing.

In [19]:
df.dropna(subset='CustomerID',inplace=True)

Task 16: For missing product descriptions, fill them with "Unknown Product".

In [20]:
d=df['Description'].replace(np.nan,'UnKnown Product',inplace=True)

/tmp/ipython-input-3799827682.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d=df['Description'].replace(np.nan,'UnKnown Product',inplace=True)

Task 17: Remove all duplicate transactions.

In [21]:
df.drop_duplicates(inplace=True)

Task 18: Remove transactions where Quantity is less than or equal to zero.

In [22]:
df=(df[df['Quantity']>0])

Task 19: Remove transactions where UnitPrice is less than or equal to zero

In [23]:
df=df[df['UnitPrice']>0]

Task 20: Remove all cancelled transactions (invoices starting with 'C').

Task 21: Change the column name "Description" to "ProductName".

In [24]:
r={'Description':'ProductName'}
df.rename(columns=r,inplace=True)

Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [25]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

Task 23: Convert CustomerID to integer type.

In [26]:
df['CustomerID']=df['CustomerID'].astype(int)

Task 24: Reset the index after all cleaning operations

In [27]:
df.reset_index(drop=True,inplace=True)

In [28]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

#PART D: Feature Creation
Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [29]:
df['TotalPrice']=df['Quantity']*df['UnitPrice']

Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [30]:
df['Year']=df['InvoiceDate'].dt.year

Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [31]:
df['Month']=df['InvoiceDate'].dt.month

Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [32]:
df['Day']=df['InvoiceDate'].dt.day

Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [33]:
df['Hour']=df['InvoiceDate'].dt.hour

Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [34]:
df['DayOfWeek']=df['InvoiceDate'].dt.strftime('%A')

Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [35]:
df['Quarter']=df['InvoiceDate'].dt.quarter

Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under 10



"Medium" for transactions between 10 and 100

"High" for transactions above 100

In [36]:
df['RevenueCategory']=np.where(df['TotalPrice']<10,'Low',np.where((df['TotalPrice']>10) & (df['TotalPrice']<100),'Medium','High'))

In [37]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium

Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5

"Medium" for Quantity between 5 and 20

"Large" for Quantity greater than 20

In [38]:
df['OrderSize']=np.where(df['Quantity']<5,'Small',np.where((df['Quantity']>5) & (df['Quantity']<20),'Medium','Large'))

In [39]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small

Task 34: Create a column that shows the length of each product name.

In [40]:
df['ProductLength']=df['ProductName'].str.len()

In [41]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

#PART E: Text Data Processing
Task 35: Convert all product names to uppercase.

In [42]:
df['ProductName']=df['ProductName'].str.upper()

Task 36: Remove any extra spaces from the Country column.

In [43]:
df['Country']=df['Country'].str.strip()

Task 37: Find all products that contain the word "BAG" in their name.

In [44]:
 P_B=df[df['ProductName'].str.contains("BAG")]

Task 38: Find all products whose names start with "WHITE".

In [45]:
P_W=df[df['ProductName'].str.startswith('WHITE')]

Task 39: Find all products whose names end with "HOLDER".

In [46]:
P_H=df[df['ProductName'].str.endswith('HOLDER')]
P_H

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,4,Medium,Large,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,4,Low,Small,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,4,Medium,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,34

Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [47]:
df['Country']=df['Country'].replace('United Kingdom','UK')

Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [48]:
df['Country']=df['Country'].replace('EIRE','Ireland')

In [49]:
df['Country'].unique()

array(['UK', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway',
       'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands',
       'Denmark', 'Cyprus', 'Sweden', 'Finland', 'Austria', 'Greece',
       'Singapore', 'Lebanon', 'United Arab Emirates', 'Israel',
       'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified',
       'Brazil', 'USA', 'European Community', 'Bahrain', 'Malta', 'RSA'],
      dtype=object)

#PART F: Data Selection and Filtering
Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country

In [50]:
df.iloc[:,[0,2,3,5,7]]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

Task 43: Display transactions from Germany only.

In [51]:
t_g=df[df['Country']=='Germany']

Task 44: Display transactions where Quantity is greater than 50.

In [52]:
df[df['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,Wednesday,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,Wednesday,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,Wednesday,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,Wednesday,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,Friday,4,High,Large,26
392489,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,Friday,4,Medium,Large,17
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,Friday,4,Medium,Large,32
392529,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,Friday,4,Medium,Large,30
392650,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,Friday,4,Medium,Large,32

Task 45: Display transactions where UnitPrice is between 5 and 10.

In [53]:
df[(df['UnitPrice']>5) & (df['UnitPrice']<10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,Wednesday,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,Wednesday,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,Friday,4,Low,Small,24
392641,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,Friday,4,Medium,Small,13
392661,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,Friday,4,Medium,Small,21
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,Medium,Medium,21

Task 46: Display transactions from France with Quantity greater than 20.

In [54]:
df[(df['Country']=='France') & (df['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,Wednesday,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,Wednesday,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,Wednesday,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,Wednesday,4,Medium,Large,18
387485,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,Wednesday,4,Medium,Large,26
389063,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,Wednesday,4,Medium,Large,29
389074,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,Wednesday,4,Medium,Large,33
389081,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,Wednesday,4,Medium,Large,18

Task 47: Display transactions from December 2010.

In [55]:
df[(df['Month']==12)&(df['Year']==2010)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,Thursday,4,Low,Small,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,4,Low,Small,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,4,Low,Small,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,Thursday,4,Low,Small,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,Thursday,4,Low,Small,19

Task 48: Display transactions that occurred on weekends.

In [56]:
df[df['DayOfWeek']=='Sunday']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,4,Medium,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,4,Low,Medium,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,4,Medium,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,4,Medium,Small,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,4,Medium,Small,7

Task 49: Display the top 10 transactions by TotalPrice.

In [57]:
t=df.sort_values(by='TotalPrice',ascending=False)
t.head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34

Task 50: Display the bottom 15 transactions by TotalPrice.

In [58]:
t.tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,10,13,11,Thursday,4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,12,8,11,Thursday,4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,Sunday,4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,2,Low,Small,26

Task 51: Find all transactions from either UK, Germany, or France.

Task 52: Find transactions where TotalPrice is above the 95th percentile

In [59]:
df['DayOfWeek'].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Sunday', 'Monday', 'Tuesday'],
      dtype=object)

#PART G: Sorting Operations
Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [60]:
i_df=df.sort_values(by='InvoiceDate')

Task 54: Sort the dataset by TotalPrice in descending order

In [61]:
s_df=df.sort_values(by='TotalPrice',ascending=False)
s_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,Tuesday,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,2,Low,Small,26

Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [62]:
c_df=df.sort_values(by=['Country','TotalPrice'],ascending=[True,False])

In [63]:
c_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
340947,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,4,High,Large,18
212475,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,3,High,Large,25
68524,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,1,High,Large,29
212545,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,3,High,Large,28
27583,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194930,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,Thursday,3,Low,Small,31
194811,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,Thursday,3,Low,Small,35
194875,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
194925,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
194900,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,3,Low,Small,33

Task 56: Find the 20 highest-value transactions.

In [64]:
t_df=df.sort_values(by='TotalPrice',ascending=False).head(20)
t_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,1,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,2,High,Large,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,2,High,Large,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,3,High,Large,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,1,High,Large,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,4,High,Small,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,4,High,Large,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,4,High,Large,28

In [65]:
l_df=t_df=df.sort_values(by='TotalPrice').head(20)
l_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,ProductLength
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,2,Low,Small,26
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,3,Low,Small,12
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,Low,Small,29
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,3,Low,Small,6
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,3,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,2,Low,Small,30
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,4,Low,Small,30
295536,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,Thursday,4,Low,Small,31
94732,548711,47013A,WINE BOTTLE DRESSING LT.BLUE,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,Sunday,2,Low,Small,28
190318,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,Sunday,3,Low,Small,28
293073,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,Wednesday,4,Low,Small,31
110084,550651,21401,BLUE PUDDING SPOON,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,Tuesday,2,Low,Small,18
106580,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,Friday,2,Low,Small,31
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,3,Low,Small,28
276434,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,Sunday,4,Low,Small,31
334062,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,Friday,4,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,3,Low,Small,35
177047,559525,21402,RED EGG SPOON,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,Sunday,3,Low,Small,15

Task 58: Calculate the total revenue generated across all transactions.

In [66]:
r=df['TotalPrice'].sum()
r

np.float64(8887208.894)

Task 59: Calculate the average transaction value.

In [67]:
avg=df['TotalPrice'].mean()
avg

np.float64(22.6314997351614)

Task 60: Find the maximum and minimum transaction values.

In [68]:
max=df['TotalPrice'].max()
max

168469.6

In [69]:
min=df['TotalPrice'].min()
min

0.001

Task 61: Calculate the total number of unique customers.

In [70]:
df['CustomerID'].nunique()

4338

Task 62: Calculate the total number of unique products sold.

In [71]:
df['ProductName'].nunique()

3877

Task 63: Find out how many unique countries are represented in the data.

In [72]:
df['Country'].nunique()

37

Task 64: Calculate the average number of items per transaction.

In [73]:
a_df=df.groupby('InvoiceNo')['Quantity'].sum().mean()
a_df

np.float64(278.00571983595944)

Task 65: Find which product appears most frequently in transactions.

In [74]:
f=df['ProductName'].value_counts().head(1)
#f=df['ProductName'].mode()
f

ProductName
WHITE HANGING HEART T-LIGHT HOLDER    2016
Name: count, dtype: int64

#PART I: Country-wise Analysis
Task 66: Calculate total revenue for each country.

In [75]:
cr=df.groupby('Country')['TotalPrice'].sum()
cr

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

Task 67: Find the top 10 countries by total revenue

In [76]:
tc=df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head(10)
tc

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

Task 68: Calculate the number of transactions per country.

In [77]:
df.groupby('Country')['InvoiceNo'].count()

Country
Australia                 1181
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            747
Cyprus                     603
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8326
Germany                   9025
Greece                     145
Iceland                    182
Ireland                   7226
Israel                     245
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2359
Norway                    1071
Poland                     330
Portugal                  1453
RSA                         57
Saudi Arabia                 9
Singapore                  222
Spain                     2479
Sweden                     450
Switzerland               1841
UK                      349203
USA                        179
United Arab Emirates        68
Unspecified                241
Name: InvoiceNo, dtype: int64

Task 69: Calculate the average transaction value for each country.

In [78]:
df.groupby('Country')['TotalPrice'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

Task 70: Find which country has the highest average order value.

In [79]:
h_o=df.groupby(['InvoiceNo','Country'])['TotalPrice'].sum()
o=h_o.groupby('Country').mean()
o.sort_values(ascending=False).head(1)

Country
Singapore    3039.898571
Name: TotalPrice, dtype: float64

Task 71: Calculate the total quantity of products sold to each country.

In [80]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

Task 72: Find the country with the most unique customers.

In [81]:
 df.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False).head(1)

Country
UK    3920
Name: CustomerID, dtype: int64

#PART J: Time-based Analysis
Task 73: Calculate total revenue for each month.

In [82]:
m_t=df.groupby('Month')['TotalPrice'].sum()
m_t

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

Task 74: Find which month had the highest sales.

In [83]:
m_t.sort_values(ascending=False).head(1)

Month
11    1156205.61
Name: TotalPrice, dtype: float64

Task 75: Calculate revenue for each quarter.

In [84]:
df.groupby('Quarter')['TotalPrice'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: TotalPrice, dtype: float64

Task 76: Calculate the number of transactions per day of the week.

In [85]:
df.groupby('DayOfWeek')['InvoiceNo'].count()

DayOfWeek
Friday       54222
Monday       64231
Sunday       61212
Thursday     79243
Tuesday      65744
Wednesday    68040
Name: InvoiceNo, dtype: int64

Task 77: Find which day of the week has the highest average revenue.

In [86]:
df.groupby('DayOfWeek')['TotalPrice'].mean().sort_values(ascending=False).head(1)

DayOfWeek
Friday    27.352012
Name: TotalPrice, dtype: float64

Task 78: Calculate hourly sales patterns (revenue by hour of day).

In [87]:
df.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

ask 79: Compare sales between 2010 and 2011.

In [88]:
df.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

Task 80: Calculate month-over-month revenue growth rate.

In [89]:
 df.groupby(['Year','Month'])['TotalPrice'].sum().sort_index().pct_change() * 100

Year  Month
2010  12             NaN
2011  1        -0.406965
      2       -21.477928
      3        33.176831
      4       -21.159954
      5        44.618333
      6        -2.555395
      7        -9.254377
      8         7.527701
      9        47.611003
      10        8.935850
      11       11.641388
      12      -55.268299
Name: TotalPrice, dtype: float64

#PART K: Customer Analysis
Task 81: Calculate total spending for each customer.

In [90]:
df.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4338, dtype: float64

Task 82: Find the top 20 customers by total spending.

In [91]:
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

Task 83: Calculate the number of transactions per customer.

In [92]:
df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4338, dtype: int64

Task 84: Find the average order value for each customer.

In [93]:
df.groupby('CustomerID')['TotalPrice'].sum()/ df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346    77183.600000
12347      615.714286
12348      449.310000
12349     1757.550000
12350      334.400000
             ...
18280      180.600000
18281       80.820000
18282       89.025000
18283      127.845625
18287      612.426667
Length: 4338, dtype: float64

Task 85: Identify customers who have made only one purchase.

In [94]:
a=df.groupby('CustomerID')['InvoiceNo'].nunique()==1
b=pd.DataFrame(a).reset_index()
b[b['InvoiceNo']==True]

      CustomerID  InvoiceNo
0          12346       True
3          12349       True
4          12350       True
6          12353       True
7          12354       True
...          ...        ...
4330       18276       True
4331       18277       True
4332       18278       True
4333       18280       True
4334       18281       True

[1493 rows x 2 columns]

Task 86: Find customers who spent more than 10,000 in total.

In [95]:
m = df.groupby('CustomerID')
total_spent = m['TotalPrice'].sum()
s=total_spent[total_spent > 10000]
s

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

Task 87: Calculate the average number of days between purchases for each customer.

#PART L: Product Analysis
Task 88: Find the top 20 products by revenue.

In [96]:
df.groupby('ProductName')['TotalPrice'].sum().sort_index(ascending=False).head(20)

ProductName
ZINC WIRE SWEETHEART LETTER TRAY      253.24
ZINC WIRE KITCHEN ORGANISER           156.80
ZINC WILLIE WINKIE  CANDLE STICK     2176.10
ZINC TOP  2 DOOR WOODEN SHELF         169.50
ZINC T-LIGHT HOLDER STARS SMALL      3879.98
ZINC T-LIGHT HOLDER STARS LARGE        22.80
ZINC T-LIGHT HOLDER STAR LARGE       1896.54
ZINC SWEETHEART WIRE LETTER RACK      923.63
ZINC SWEETHEART SOAP DISH             104.41
ZINC STAR T-LIGHT HOLDER               10.00
ZINC PLANT POT HOLDER                  23.12
ZINC METAL HEART DECORATION          7099.93
ZINC HERB GARDEN CONTAINER           3279.82
ZINC HEARTS PLANT POT HOLDER          746.15
ZINC HEART LATTICE TRAY OVAL           53.55
ZINC HEART LATTICE T-LIGHT HOLDER     784.22
ZINC HEART LATTICE CHARGER SMALL       61.95
ZINC HEART LATTICE CHARGER LARGE      172.50
ZINC HEART LATTICE 2 WALL PLANTER     120.65
ZINC HEART FLOWER T-LIGHT HOLDER      947.18
Name: TotalPrice, dtype: float64

Task 89: Find the top 20 products by quantity sold

In [97]:
df.groupby('ProductName')['Quantity'].sum().sort_index(ascending=False).head(20)

ProductName
ZINC WIRE SWEETHEART LETTER TRAY       80
ZINC WIRE KITCHEN ORGANISER            25
ZINC WILLIE WINKIE  CANDLE STICK     2606
ZINC TOP  2 DOOR WOODEN SHELF          10
ZINC T-LIGHT HOLDER STARS SMALL      4894
ZINC T-LIGHT HOLDER STARS LARGE        24
ZINC T-LIGHT HOLDER STAR LARGE       2030
ZINC SWEETHEART WIRE LETTER RACK      248
ZINC SWEETHEART SOAP DISH              59
ZINC STAR T-LIGHT HOLDER                8
ZINC PLANT POT HOLDER                   8
ZINC METAL HEART DECORATION          5750
ZINC HERB GARDEN CONTAINER            535
ZINC HEARTS PLANT POT HOLDER          275
ZINC HEART LATTICE TRAY OVAL            9
ZINC HEART LATTICE T-LIGHT HOLDER     646
ZINC HEART LATTICE CHARGER SMALL       21
ZINC HEART LATTICE CHARGER LARGE       46
ZINC HEART LATTICE 2 WALL PLANTER      19
ZINC HEART FLOWER T-LIGHT HOLDER      760
Name: Quantity, dtype: int64

Task 90: Calculate the average price for each product.

In [98]:
df.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

ask 91: Find products that have been sold to more than 10 different countries.

In [99]:
p=df.groupby('ProductName')['Country'].nunique()
v=p[p>10]
v

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 495, dtype: int64

Task 92: Identify the most expensive and cheapest products.

In [100]:
df.groupby('ProductName')['UnitPrice'].max().idxmax()

'POSTAGE'

In [101]:
df.groupby('ProductName')['UnitPrice'].min().idxmin()

'BANK CHARGES'

In [102]:
p = df.pivot_table(index='ProductName', values='UnitPrice', aggfunc=['min','max'])
most_expensive = p['max'].idxmax()
cheapest = p['min'].idxmin()
print(most_expensive)
print(cheapest)

UnitPrice    POSTAGE
dtype: object
UnitPrice    BANK CHARGES
dtype: object

#PART M: Advanced Grouping
Task 93: Calculate total revenue by Country and Year.

In [103]:
df.groupby(['Country', 'Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

Task 94: Calculate average transaction value by Country and Quarter.

In [104]:
df.groupby(['Country', 'Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          136.336559
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: TotalPrice, Length: 117, dtype: float64

Task 95: Find the number of transactions by Country and Month.

In [105]:
df.groupby(['Country','Month'])['InvoiceNo'].nunique()

Country      Month
Australia    1        9
             2        5
             3        3
             4        2
             5        4
                     ..
Unspecified  4        1
             5        1
             6        1
             7        3
             8        2
Name: InvoiceNo, Length: 271, dtype: int64

Task 96: Calculate total revenue by Day of Week and Hour.

In [106]:
df.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
Friday     7        17284.880
           8        52656.610
           9       296376.831
           10      182871.600
           11      166546.630
                      ...
Wednesday  15      160053.320
           16       81464.310
           17       23428.060
           19        2893.400
           20       13031.500
Name: TotalPrice, Length: 73, dtype: float64

Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [107]:
df.pivot_table(values='TotalPrice',index='Country',aggfunc=['sum','mean','max','min'])

                              sum        mean        max        min
                       TotalPrice  TotalPrice TotalPrice TotalPrice
Country
Australia              138453.810  117.234386    1718.40      0.420
Austria                 10198.680   25.624824     360.00      2.880
Bahrain                   548.400   32.258824     120.00     11.600
Belgium                 41196.340   20.283772     165.00      2.500
Brazil                   1143.600   35.737500     175.20     15.000
Canada                   3666.380   24.280662     550.94      2.500
Channel Islands         20440.540   27.363507     408.00      4.560
Cyprus                  13502.850   22.392786     320.69      0.830
Czech Republic            826.740   33.069600      70.80     10.080
Denmark                 18955.340   49.882474     428.40      4.680
European Community       1300.250   21.670833      60.00      7.800
Finland                 22546.080   32.913985     551.20      2.340
France                 208934.310   25.094200    4161.06      0.290
Germany                228678.400   25.338327     876.00      0.390
Greece                   4760.520   32.831172     175.20      3.360
Iceland                  4310.000   23.681319     249.60      5.040
Ireland                265262.460   36.709446    2365.20      1.250
Israel                   7215.840   29.452408     350.40      0.950
Italy                   17483.240   23.064960     300.00      2.880
Japan                   37416.370  116.561900    3794.40      0.290
Lebanon                  1693.880   37.641778     153.00     10.200
Lithuania                1661.060   47.458857     122.40     13.200
Malta                    2725.590   24.335625     455.00      2.280
Netherlands            285446.340  121.003111    4992.00      0.390
Norway                  36165.440   33.767918     700.00      2.880
Poland                   7334.650   22.226212     120.00      6.600
Portugal                33375.840   22.970296    1241.98      0.290
RSA                      1002.310   17.584386      38.25      5.040
Saudi Arabia              145.920   16.213333      19.80      5.040
Singapore               21279.290   95.852658    3949.32      2.340
Spain                   61558.560   24.832013    1350.00      0.210
Sweden                  38367.830   85.261844    1188.00      5.040
Switzerland             56443.950   30.659397     360.00      2.000
UK                    7285024.644   20.861862  168469.60      0.001
USA                      3580.390   20.002179      81.36      1.250
United Arab Emirates     1902.280   27.974706     153.00      3.480
Unspecified              2660.770   11.040539      69.36      0.190

In [108]:
df.pivot_table(values='TotalPrice',index='Country',aggfunc=['sum','mean','max','min'])

                              sum        mean        max        min
                       TotalPrice  TotalPrice TotalPrice TotalPrice
Country
Australia              138453.810  117.234386    1718.40      0.420
Austria                 10198.680   25.624824     360.00      2.880
Bahrain                   548.400   32.258824     120.00     11.600
Belgium                 41196.340   20.283772     165.00      2.500
Brazil                   1143.600   35.737500     175.20     15.000
Canada                   3666.380   24.280662     550.94      2.500
Channel Islands         20440.540   27.363507     408.00      4.560
Cyprus                  13502.850   22.392786     320.69      0.830
Czech Republic            826.740   33.069600      70.80     10.080
Denmark                 18955.340   49.882474     428.40      4.680
European Community       1300.250   21.670833      60.00      7.800
Finland                 22546.080   32.913985     551.20      2.340
France                 208934.310   25.094200    4161.06      0.290
Germany                228678.400   25.338327     876.00      0.390
Greece                   4760.520   32.831172     175.20      3.360
Iceland                  4310.000   23.681319     249.60      5.040
Ireland                265262.460   36.709446    2365.20      1.250
Israel                   7215.840   29.452408     350.40      0.950
Italy                   17483.240   23.064960     300.00      2.880
Japan                   37416.370  116.561900    3794.40      0.290
Lebanon                  1693.880   37.641778     153.00     10.200
Lithuania                1661.060   47.458857     122.40     13.200
Malta                    2725.590   24.335625     455.00      2.280
Netherlands            285446.340  121.003111    4992.00      0.390
Norway                  36165.440   33.767918     700.00      2.880
Poland                   7334.650   22.226212     120.00      6.600
Portugal                33375.840   22.970296    1241.98      0.290
RSA                      1002.310   17.584386      38.25      5.040
Saudi Arabia              145.920   16.213333      19.80      5.040
Singapore               21279.290   95.852658    3949.32      2.340
Spain                   61558.560   24.832013    1350.00      0.210
Sweden                  38367.830   85.261844    1188.00      5.040
Switzerland             56443.950   30.659397     360.00      2.000
UK                    7285024.644   20.861862  168469.60      0.001
USA                      3580.390   20.002179      81.36      1.250
United Arab Emirates     1902.280   27.974706     153.00      3.480
Unspecified              2660.770   11.040539      69.36      0.190

In [109]:
total= df.groupby('CustomerID')
t=total['TotalPrice'].sum()
t

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4338, dtype: float64

In [110]:
n=total['InvoiceNo'].nunique()
n

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4338, dtype: int64

In [111]:
aver=t / n
aver

CustomerID
12346    77183.600000
12347      615.714286
12348      449.310000
12349     1757.550000
12350      334.400000
             ...
18280      180.600000
18281       80.820000
18282       89.025000
18283      127.845625
18287      612.426667
Length: 4338, dtype: float64

Task 99: For each product, calculate total quantity sold and total revenue generated.

In [112]:
df.pivot_table(values=['Quantity','TotalPrice'],index=['ProductName'],aggfunc='sum')

                                  Quantity  TotalPrice
ProductName
 4 PURPLE FLOCK DINNER CANDLES         138      265.66
 50'S CHRISTMAS GIFT BAG LARGE        1885     2272.25
 DOLLY GIRL BEAKER                    2394     2754.50
 I LOVE LONDON MINI BACKPACK           359     1449.85
 I LOVE LONDON MINI RUCKSACK             1        4.15
...                                    ...         ...
ZINC T-LIGHT HOLDER STARS SMALL       4894     3879.98
ZINC TOP  2 DOOR WOODEN SHELF           10      169.50
ZINC WILLIE WINKIE  CANDLE STICK      2606     2176.10
ZINC WIRE KITCHEN ORGANISER             25      156.80
ZINC WIRE SWEETHEART LETTER TRAY        80      253.24

[3877 rows x 2 columns]

#PART N: Creating Summary Reports
Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [115]:
country_sales = (df.pivot_table(index='Country',columns='Month',values='TotalPrice',aggfunc='sum',))
country_sales["Total"] = country_sales.sum(axis=1)
country_sales = country_sales.sort_values(by="Total", ascending=False)
country_sales

Month,1,2,3,4,5,6,7,8,9,10,11,12,Total
Country,,,,,,,,,,,,,
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16,7285024.644
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50,285446.340
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80,265262.460
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91,228678.400
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23,208934.310
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35,138453.810
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94,61558.560
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92,56443.950
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64,41196.340
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30,38367.830
Japan,NaN,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,NaN,112.080,1948.04,8460.08,7705.07,37416.370
Norway,NaN,630.90,1265.31,NaN,NaN,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82,36165.440
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16,33375.840
Finland,889.02,205.16,5936.82,1688.920,NaN,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56,22546.080
Singapore,2053.07,NaN,NaN,8209.580,NaN,NaN,3949.320,NaN,NaN,7067.32,NaN,NaN,21279.290
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,NaN,4886.88,1323.750,2623.32,1514.77,561.93,20440.540
Denmark,NaN,399.22,3978.99,NaN,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40,18955.340
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95,17483.240
Cyprus,547.50,4334.24,938.39,NaN,NaN,1109.32,NaN,NaN,196.350,4350.32,439.66,1587.07,13502.850
Austria,NaN,518.36,1708.12,680.780,1249.43,NaN,1191.950,1516.08,NaN,1043.78,1329.78,960.40,10198.680
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,NaN,1361.23,248.16,7334.650
Israel,NaN,779.10,NaN,NaN,NaN,NaN,1430.750,4873.81,NaN,132.18,NaN,NaN,7215.840
Greece,2661.24,NaN,387.31,609.740,NaN,NaN,421.240,NaN,NaN,NaN,NaN,680.99,4760.520
Iceland,475.39,NaN,NaN,636.250,NaN,382.52,NaN,584.91,NaN,1294.32,NaN,936.61,4310.000
Canada,NaN,NaN,140.54,NaN,534.24,1171.46,1768.580,51.56,NaN,NaN,NaN,NaN,3666.380
USA,NaN,NaN,NaN,383.950,NaN,NaN,NaN,NaN,NaN,2311.20,NaN,885.24,3580.390
Malta,NaN,NaN,NaN,NaN,NaN,863.16,NaN,1119.00,NaN,NaN,743.43,NaN,2725.590
Unspecified,NaN,NaN,NaN,299.100,852.68,185.78,792.180,531.03,NaN,NaN,NaN,NaN,2660.770
United Arab Emirates,NaN,889.24,NaN,NaN,NaN,NaN,NaN,NaN,1013.040,NaN,NaN,NaN,1902.280
Lebanon,1693.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1693.880
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1661.06,1661.060
European Community,NaN,NaN,NaN,191.400,NaN,432.05,676.800,NaN,NaN,NaN,NaN,NaN,1300.250
Brazil,NaN,NaN,NaN,1143.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1143.600
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.31,NaN,NaN,1002.310
Czech Republic,NaN,549.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.48,NaN,NaN,826.740
Bahrain,NaN,NaN,NaN,NaN,548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,548.400
Saudi Arabia,NaN,145.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.920

Task 101: Create a summary showing average quantity purchased by country and quarter.

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        392692 non-null  object
 1   StockCode        392692 non-null  object
 2   ProductName      392692 non-null  object
 3   Quantity         392692 non-null  int64
 4   InvoiceDate      392692 non-null  datetime64[ns]
 5   UnitPrice        392692 non-null  float64
 6   CustomerID       392692 non-null  int64
 7   Country          392692 non-null  object
 8   TotalPrice       392692 non-null  float64
 9   Year             392692 non-null  int32
 10  Month            392692 non-null  int32
 11  Day              392692 non-null  int32
 12  Hour             392692 non-null  int32
 13  DayOfWeek        392692 non-null  object
 14  Quarter          392692 non-null  int32
 15  RevenueCategory  392692 non-null  object
 16  OrderSize        392692 non-null  object
 17  ProductLength    392692 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(5), int64(3), object(7)
memory usage: 46.4+ MB